/*seletor de elemento com a tag*/
/*quanto mais específico um seletor, maior a sua importância*/
body{

}

h1{
    color: white;
}

/*seletor de elemento com tag e id => tem importância máxima*/
h1#alguma{
    color: red;
}

/*seletor de elemento com id*/
/*só é possível estilizar um único elemento com o id*/
#alguma{

}

/*seletor de elemento com class*/
/*é possível estilizar vários elementos com a mesma classe*/
.modelo{
    
}

/*selecionar elemento dentro de hierarquia*/
.modelo h1{
    color: blue;
}

/*seletor de elemento com mais de uma classe(para diferenciar)*/
.modelo.destaque{

}

/*seletor de atributos html*/
a[target="_blank"]{ /* = => que seja igual*/

}
a[href^="https"]{ /* ^ => começa com */

}
a[href~="https"]{ /* ~ => caso contenha*/

}
