*{
    box-sizing: border-box; /*já inclui o padding na conta do tamanho (width e height) do elemento*/
}

body{
    margin: 0;
    padding: 0;
}

h1{
    color: #292929;
    font-size: 28px;
    background-color: red;
    display: inline;
}

h2{
    background-color: purple;
}

p{
    font-size: 14px;
    text-align: left;
    line-height: 1.5;
}

a{
    text-decoration: none; /*tirar estilizações do link*/
    background-color: red;
    /*por padrão, é display inline*/
    display: inline-block;
    width: 300px;
    height: 90px;

}

section{
    background-color: #cacaca;
    height: 400px;
    width: 100%;
    max-width: 800px;
    min-width: 300px;
    padding: 20px; /*espaçamento interno*/
    margin: 40px 20px; /*espaçamento externo*/
}

/*display inline => o elemento ocupa somente o tamanho que ele precisa*/
/*display block => o elemento vai ocupar todo o espaço disponível (largura), mesmo que não precise*/
/*display inline-block => se comporta como o display inline, mas é possível configurar seu tamanho*/
/*display none: tirar a visibilidade do elemento*/

